h1 {
  font-family: 'Red Hat Display';
  font-weight: 800;
  font-size: 6.5rem;
  line-height: 5.5rem;
  cursor: pointer;
  text-align: left;
  position: relative;
  margin-bottom: 1.8rem;
}

h2 {
  font-family: 'Red Hat Display';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  cursor: pointer;
  text-align: left;
  position: relative;
  letter-spacing: 0.01rem;
}

/* a:link {
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 0.07rem;
  color: #bd0143;
  font-weight: 600;
}

a:visited {
  color: #bd0143;
}

a:hover {
  color: #000000;
}

*/


a {
  color: white;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #bd0143;
  width: 100px;
  border: none;
  padding: 4px 2px;
  display: inline-block;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 0.06rem;
  font-weight: 600;
  transition: transform .6s .25s ease-out;
  transition-duration: 0.4s;
}

.button:hover {
  transform:scale(.9);
}

.left {
  display: block;
}

.right {
  display: block;
}


body {
  width: auto;
  font-family: 'Red Hat Display';
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.01rem;
}

.toogle {
  background-color: orange;
}

.toogletype {
  color: orange;
  font-size: 8rem;
  animation: typeanimation 6s infinite;
}

@keyframes typeanimation {
  0% {color: orange;
      transform-origin: 50% 50%;}
  50% {color: #bd0143;
      transform-origin: 50% 50%;}
  100% {color: orange;
        transform: translate(0px, 0px) rotate(360deg);
        transform-origin: 50% 50%;}
}


div {
  margin-bottom: 0;
}

.container {
  display: grid;
  height:100vh;
  width: auto;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows: 8fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 0;
  margin-left: 2%;
  margin-right: 2%;

}

.columnone {
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:1;
  width: auto;
  height: 200px;
}

.columntwo {
  grid-column-start:3;
  grid-column-end:5;
  grid-row-start:1;
  grid-row-end:1;
  width: auto;
  height: 200px;
}

.columnthree {
  grid-column-start:5;
  grid-column-end:7;
  grid-row-start:1;
  grid-row-end:1;
  width: auto;
  height: 200px;
}

.columntwoLinks {
  grid-column-start:3;
  grid-column-end:5;
  grid-row-start:2;
  grid-row-end:2;
  width: auto;
  height: 200px;
}

input {

display: none;

}


label {

cursor: pointer;
display: flex;

}


div.animation {

width: 100%;

transition: max-height 1.5s ease;

}

input:checked+label>div.open>h2:after {

content: "close";

}

input:not(:checked)+label>div.open>h2:after {

content: "open";

}

@keyframes cssanimation {
  0% {color: orange;
      transform-origin: 50% 50%;}
  50% {color: #bd0143;
      transform-origin: 50% 50%;}
  100% {color: orange;
        /* transform: translate(0px, 0px) rotate(360deg); */
        transform-origin: 50% 50%;}
}

input:not(:checked)+label>div.animation {

/* max-height: 0em; */

}

input:checked+label>div.animation {

/* max-height: 20em; */
animation: cssanimation 6s infinite;

}

.open {
  text-align: right;
}

input:checked+label+p {

max-height: 20em;

}


input:not(:checked)+label+p {

max-height: 0em;

}

p {
margin: 0;
overflow: hidden;
transition: max-height 1.5s ease;

}
